# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
.venv/
env/
venv/
staticfiles/
media/

# Node / Angular
node_modules/
dist/
.angular/
out-tsc/
npm-debug.log
yarn-error.log

# Large Media & Video Files
*.mp4
*.mkv
*.mov
*.avi
*.wmv
*.flv
*.webm

# Environment & Backups
.env
.env.*
!.env.example
.git_backup/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

